nav img {
    width: 200px;
}

main img {
    width: 100%;
    aspect-ratio: 0.7;
    object-fit: cover;
}

.card {
    margin: 10px;
    box-shadow: 5px 5px 15px 1px #000000;
}

body {
    background-color: #00AEEF;
}

.card p:last-of-type {
    
    color: white;
}

.list-group img {
    width: 40%;
    aspect-ratio: 0.7;
    object-fit: cover;
}

